/*
    Set font size, font family, font weight, color
    set height and width of site
    set background to be a gradient of white -> purple
*/
body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #b300ff;
    font-weight: 400;
    width: 100%;
    height: 100%;
    background: rgb(179,0,255);
    background: linear-gradient(0deg, rgba(179,0,255,1) 0%,
     rgba(179,0,255,1) 15%,
      rgba(255,255,255,1) 77%,
       rgba(255,255,255,1) 100%);
}

label {
    margin-bottom: 8px;
}

/*
    set title to flex container, center content horizontally
    set width and padding of element
*/
h1 {
    display: flex;
    width: 92%;
    justify-content: center;
    text-align: center;
    padding: 1.5em;
}

/*align text to center, give top-bottom border*/
.survey-description {
    text-align: center;
    border: 1.5em 0em;
    
}

/*
    set form to be a flex container, align content to the left
    start aligning divs from top to bottom using align-content
    set flex wrap to wrap
    set height and width
    set background color, border color, style, radius
    set left-right margin to auto to center horizontally 
*/
.survey-form {
    display: flex;
    justify-content: left;
    align-content: flex-start;
    flex-wrap: wrap;
    max-height: 900px;
    height: 100%;
    max-width: 40%;
    margin: 0em auto;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    padding: 2em;
}

/*
    each complete input
    set height and width
    set padding and margins
*/
.form-group {
    width: 100%;
    height: 5em;
    padding: 4px;
    margin: 0em 0em 1.5em 0em;
    margin-bottom: 0px;
}

/*
    set all labels with set width and height
    set margin and font size
*/
label {
    width: 550px;
    height: 20px;
    margin-bottom: 0.5rem;
    font-size: 20px;
}

/*
    set width and height of input fields
    set border width, type and color
    set color of placeholder
*/
input {
    height: 25px;
    width: 95%;
    border: 1px solid #b300ff;
    border-radius: 5px;
    color: lightslategray;
}

/*set custom height to dropdown div*/
#drop {
    height: 3em;
}

/*set drop down menu border, color and background color*/
select {
    border-color: #b300ff;
    background-color: white;
    color: black;
}

/*set size of radio buttons*/
.radio-input {
    width: 10%;
    height: 15px;
}

/*set with of labels to take up rest of the row*/
.radio-label {
    width: 85%;
    
}

/*set check divs heights*/
.check {
    height: 30px;
}

/*set boxes height and width*/
.check-input {
    width: 10%;
    height: 15px;
}

/*set label height*/
.check-label {
    height: 25px;
}

/*
    checkbox field
    set hieght and width
    set padding and margins
    set border color and width
*/
fieldset {
    width: 100%;
    height: 9em;
    padding: 4px;
    margin: 1em 0em 1.5em 0em;
    margin-bottom: 0px;
    border-color: #b300ff;
    border-width: 2px;
}

/*set textarea div to custom dimensions, set margin and padding*/
#text {
    width: 100%;
    height: 11em;
    padding: 4px;
    margin: 1em 0em 1.5em 0em;
    margin-bottom: 0px;
}

/*set margin, width, and border color of textarea*/
textarea {
    margin: 10px 0px;
    width: 100%;
    border-color: #b300ff;
}

/*submit div, set to flex container, center horizontally, set width*/
.submit {
    display: flex;
    justify-content: center;
    width: 95%;
}

/*
    submit button
    set height and width, set font size, border properties, set colors and margins
*/
input.submit-button {
    height: 45px;
    width: 130px;
    font-size: 1.5em;
    border: 2px solid #b300ff;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin: 1.5em;
}